<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">

    <div class="form-group">
        <label>Please enter value between 10 and 20, and press enter</label>
    </div>
    <div class="form-group">
        <label>Please enter a value</label>
        <input class="form-control" type="number" placeholder="value" [formControl]="complexForm.controls['userInput']">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default" [disabled]="!complexForm.valid">Submit</button>
    </div>
</form>
